@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    -webkit-tap-highlight-color: transparent;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.glass-panel {
    background: rgba(247, 247, 246, 0.85);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
}
